body{
	font-size: 12pt;
	background-image:url("aviator.jpg");
	background-color:#ccc;
}
*{
	margin: 0;
	padding: 0;
	
}

.head {border-bottom:3px inset gold;
	background: ;
	margin-bottom: 1%;
	background-color:rgba(0,0,0,0.3);
}
h1{font-size:120%;
padding:2% 0;
color:gold;
text-shadow:1px 1px black;
}
h2{color: red;}
h1,h3,label,h2{text-align: center;}
label, input{display: block; margin: 5% auto; width: 15em}

input{
	padding: 0.5em 2px;
}
.login{
  border:8px outset gold;
  color:gold;
  margin:0 auto;
  width:90%;
  max-width:30em;
  background-color:rgba(0,0,0,0.3);
}
.none{display: none;}
.login ol li{
	
	display: inline-block;
	margin: 1% 1% ;
	text-align: center;
	width: 20%;
}
.login img{
	display: block;
	margin: 0 auto;
	width: 2em;

}
.login input{
	outline: none;
	border: none;
	border-bottom: 2px solid gold;
	background-color:;

}
.login input[type="button"]{
  background-color:gold;
}
.login input:hover{
	outline: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 1em;
}
.login ol{
  background-color:White;
}

.choose li{
	display: inline-block;
	width: 45%;
	text-align: center;
	padding: 2% 0;
	margin: 3% 0.5%;

}

.choose img{
	margin: 0 auto;
	display: block;
	width: 5em;
	box-shadow: 1px 1px 2px gold;
}

.contac{
  box-shadow: 1px 1px 2px black;
	border-radius: 1em;
	text-align: center;
	background: gold;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 7em;
	padding: 0 2%;
}
.contac li{
	width: 90%;
	margin: 2% auto; 
	padding: 2%;
	background: #ddd;
	display: block;
	font-weight: bolder;
	font-size: 120%;
	color: red;
}

h3{box-shadow: 1px 1px 2px black;
 margin-top: 3%;
 background: gold;
}

.Palpites li, .hour li{
  background-color:white;
  border:2px inset gold;
}
.Palpites li em{
  text-shadow:2px 2px 4px gold;
}

#manager{
  position:fixed;
  bottom:5%;
  right:2%;
  width:7%;
  padding:2% 2%;
  background-color:rgba(0,0,0,0.3);
  border:1px solid gold;
  border-radius:100%; 
  text-align:center;
  font-size:130%;
  font-weight:bolder;
  color:gold;
 
}
